:root {
  --navy-dark: hsl(227, 75%, 14%); /* very dark navy */
  --navy: hsl(226, 25%, 17%); /* deep navy */
  --navy-muted: hsl(225, 23%, 24%); /* muted navy */
  --slate: hsl(226, 11%, 37%); /* slate gray */
  --gray-light: hsl(0, 0%, 78%); /* light gray */
  --blue-tint: hsl(217, 61%, 90%); /* pale blue */
  --gray-soft: hsl(0, 0%, 93%); /* soft gray */
  --white: hsl(200, 60%, 99%); /* almost white */

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

body.light__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--light-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /*for now*/
  color: black;
}

body.dark__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--dark-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /*for now*/
  color: var(--white);
}

.flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav {
  width: 85%;
  height: 10vh;
  background-color: var(--white);
  margin: 2rem auto;
  border-radius: 20px;
  padding: 0 2rem;
  box-shadow: 1px 1px 1px grey;
}

.header {
  width: 85%;
  height: 10vh;
  margin: 2rem auto;
}

.theme__button {
  width: 40px;
  height: auto;
  background-color: var(--neutral-300);
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.filter__container {
  width: 25%;
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.action__button {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.button__label {
  min-width: 70px;
  height: 25px;
  background-color: var(--white);
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
  padding: 1px;
  transition: background-color 150ms ease;
}

.button__label:hover {
  background-color: var(--red-700);
  color: var(--white);
}

.button__label:has(.action__button:checked) {
  background-color: var(--red-700);
  color: var(--white);
}

.extensions__container {
  width: 35%;
  height: 25vh;
  background-color: var(--white);
  padding: 1rem;
}

.extenstion__logo {
  margin-right: 10px;
}

.extenstion__card__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.extenstion__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: auto;
  gap: 2rem;
  width: 84%;
  margin: 4rem auto;
}

.card__container {
  width: 350px;
  height: 40vh;
  background-color: white;
  padding: 1rem;
}
.card__header {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 40px auto;
}

.card__header p {
  grid-column: 2/3;
  width: auto;
}
