:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

body.light__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--light-gradient);
}

body.dark__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--dark-gradient);
}

.flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav {
  width: 85%;
  height: 10vh;
  background-color: white;
  margin: 2rem auto;
  border-radius: 20px;
  padding: 0 2rem;
  box-shadow: 1px 1px 1px grey;
}

.header {
  width: 85%;
  height: 10vh;
  margin: 2rem auto;
}

.theme__button {
  width: 40px;
  height: auto;
  background-color: var(--neutral-300);
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.filter__container {
  justify-content: space-around;
  width: 25%;
}

.action__button {
  min-width: 70px;
  height: 25px;
  background-color: white;
  border-radius: 9999999999px;
  text-align: center;
  cursor: pointer;
}

.extensions__container {
  width: 35%;
  height: 25vh;
  background-color: white;
  padding: 1rem;
}

.extenstion__logo {
  margin-right: 10px;
}

.extenstion__card__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
