:root {
  --navy-dark: hsl(227, 75%, 14%); /* very dark navy */
  --navy: hsl(226, 25%, 17%); /* deep navy */
  --navy-muted: hsl(225, 23%, 24%); /* muted navy */
  --slate: hsl(226, 11%, 37%); /* slate gray */

  --gray-light: hsl(0, 0%, 78%); /* light gray */
  --blue-tint: hsl(217, 61%, 90%); /* pale blue */
  --gray-soft: hsl(0, 0%, 93%); /* soft gray */
  --white: hsl(200, 60%, 99%); /* almost white */

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
*/

body.light__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--light-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /*for now*/
  color: var(--navy-dark);
}

body.dark__theme {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--dark-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /*for now*/
  color: var(--white);
}

.flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav {
  width: 85%;
  height: 13vh;
  background-color: var(--white);
  margin: 2rem auto;
  border-radius: 20px;
  padding: 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark__theme .nav {
  background-color: var(--navy);
}

body.dark__theme .logo__text {
  fill: white;
}

.header {
  width: 85%;
  height: 10vh;
  margin: 2rem auto;
}

.theme__button {
  width: 45px;
  height: 45px;
  background-color: var(--gray-soft);
  border-radius: 10px;
  margin: 3px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: outline 150ms ease-in-out;
}

body.dark__theme .theme__button {
  background-color: var(--slate);
}

.theme__button:hover {
  outline: 2px solid var(--red-400);
  outline-offset: 2px;
}

.theme__icon {
  width: 20px;
  height: auto;
}

.filter__container {
  width: 25%;
  display: grid;
  grid-template-columns: 60px 80px 100px;
  grid-template-rows: 1fr;
  gap: 10px;
}

.action__button {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.button__label {
  height: 40px;
  background-color: var(--white);
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
  padding: 9px;
  transition: background-color 150ms ease;
}

body.dark__theme .button__label {
  background-color: var(--navy-muted);
}

body.dark__theme .button__label:hover {
  background-color: var(--slate);
}

body.dark__theme .button__label:has(.action__button:checked) {
  background-color: var(--red-400);
  color: var(--navy-dark);
}

.button__label:hover {
  background-color: var(--red-700);
  color: var(--white);
  outline: 2px solid var(--red-400);
  outline-offset: 2px;
}

.button__label:has(.action__button:checked) {
  background-color: var(--red-700);
  color: var(--white);
  outline: 2px solid var(--red-400);
  outline-offset: 2px;
}

.extensions__container {
  width: 35%;
  height: 25vh;
  background-color: var(--white);
  padding: 1rem;
}

.extension__logo {
  margin-right: 10px;
}

.extension__card__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.extension__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1rem;
  width: 84%;
  margin: 4rem auto;
}

.card__container {
  width: 350px;
  height: auto;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark__theme .card__container {
  background-color: var(--navy);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--slate);
}

.card__header {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 40px 70px 60px;
}

body.dark__theme h2 {
  color: var(--white);
}

body.dark__theme .card__header p {
  color: var(--gray-light);
}

.card__header p {
  grid-column: 2/3;
  font-size: 1rem;
}

.card__footer {
  justify-content: space-between;
  flex-direction: row;
}

.toggle__button__label {
  width: 45px;
  height: 25px;
  border-radius: 9999px;
  background-color: grey;
  position: relative;
  transition: background-color 250ms ease;
}

.toggle__button__label:has(.action__button:checked) {
  background-color: var(--red-400);
}

.toggle__button__label::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  margin: 3px;
  right: 20px;
  transition: all 250ms ease;
}

.toggle__button__label:has(.action__button:checked)::after {
  right: 2px;
}

.remove__button {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 35px;
  width: 80px;
}

body.dark__theme .remove__button {
  color: var(--white);
  background-color: var(--navy);
  border: 1px solid var(--slate);
}
